.container {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 2rem;
  background-color: #fff;
}

.header {
  background-color: #d32323; /* yelp-red */
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.logo {
  max-width: 120px;
  margin-bottom: 1rem;
}